@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.logo{
    
    text-align: center;
    font-size: 70px;
    transform: translateY(30px);
    z-index: 10;
    font-weight: 500;
    color:whitesmoke;
}


nav{
    background-color:black;
}
.container{
    z-index: -1;
    display: block;
    position: relative;
    top: -2px;
    height: 448px;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1519 448" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(0, 0, 0, 1)" d="M 0 448 C 381 448 381 110 762 110 L 762 110 L 762 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(0, 0, 0, 1)" d="M 761 110 C 1140 110 1140 0 1519 0 L 1519 0 L 1519 0 L 761 0 Z" stroke-width="0"></path> </svg>');
    background-size: cover;
    background-repeat: no-repeat;
   }

.image img{
    mix-blend-mode: multiply;
    transform: translateX(60%);
}
.content{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 50px;
    transform: translateY(-86%);
    
}
.txt{
    transform: translateY(20%);
    color: white;
    font-size: 30px;
    font-weight: 300;
}
.links ul{
    display: grid;
    grid-template-columns: 100px 100px 100px ;
    word-spacing: 50px;
    transform: translateY(120px);
    
}
.links ul li{
   transform: translateX(100%);
   color: white;
   z-index: 15;
   list-style-type: none;
   font-size: 18px;

}
.links ul li a{
    display: inline-block;
    z-index: 15;
    text-decoration: none;
    color: rgb(227, 227, 227);
}
.links ul li a:hover{
    border-bottom: 1px solid  rgb(134, 133, 133);
}
.section-1,.section-2{
    display: grid;
    grid-template-columns: 50% 50%;
     /* border: 2px solid green;  */
    transform: translateY(28.5%);
    height: 70vh;
}
.content-1,.content-2{
    text-align: center;
    background-color: #222;
    color: white;
}
.content-1 h1,h2,.btn{
    transform: translateY(100px);
    
}
.content-1 h2{
    font-weight: 300;
}
.content-2 h2{
    font-weight: 300;
}
.content-2 h1,h2,.btn{
    transform: translateY(100px);

}
.image-1,.image-2{
    border-top: 1px solid rgb(141, 141, 141);
    border-bottom: 1px solid rgb(141, 141, 141);
}
.image-2{
    background-color: rgb(248, 248, 248);
}
.image-1 img{
    /* border: 2px solid red; */
    transform: translateX(45%);
    transform: translateY();
    height: 25em;
}
.image-2 img{
    transform: translateX(30%);
}
 .btn {
    display: inline-block;
    background-color:white;
    color: #000;
    border-radius: 13px;
    font-size: 30px;
    padding: 2px 12px;
    
}
.btn a{
    text-decoration: none;
    color: #000;
}
.btn:hover{
    background-color:cyan;
    font-size: 35px;
    color: white;
}
.content-1 h2{
    font-size: 40px;
}
.content-1 h1{
    font-size: 60px;
}
.content-2 h2{
    font-size: 40px;
}
.content-2 h1{
    font-size: 60px;
}
.txt h1 span{
    color: black;
}
.section-3{
    background-color: #555;
    width: 20vh;
}
.sites a{
   font-size: 20px;
   color: lightgray;
}
/* Checkout */
.logo2{
    font-size: 40px;
    color: white;
    padding-left: 10px;
}
.check-logo{
    color: white;
    font-size: 30px;
    padding-top: 8px;
}
.nav{
    display: grid;
    grid-template-columns: 45% 55%;
    background-color:#000;
}
.form{
    align-items: center;
    margin: 40px 200px;
    background-color: #000;
    color: white;
    padding: 30px;
}
.final{
    margin: 0 200px;
    transform: translateY(-15%);
}
.ship{
    align-items: center;
}
.card{
    align-items: center;
}
.btn2{
    display: inline-block;
    background-color:cyan;
    border-radius: 5px;
    padding: 2px 3px;
    margin-top: 20px;
    margin-left: 8px;
    font-size: 20px;
    

}
.btn2 a{
    text-decoration: none;
    color:#555;
}
.btn2 a:hover{
    background-color: white;
    color: black;
    font-size:22px ;
}

label{
    padding: 8px;
    margin: 5px;
    font-size: 20px;

}
input{
    padding: 5spx;
    margin: 5px;
    border-radius: 4px;
}
.features{
    background-image: url(./wave\ \(2\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45vh;
    transform: translateY(45%);
}
.features h1{
      transform: translate(20%,-50%);
      font-size: 70px;
      
}
.features h2{
    font-size: 42px;
    transform: translateX(50%);
    
}
.features h3{
    font-size: 50px;
    transform: translate(2.7%,-89%);
    
}
.features span{
    color: white;
}
.features2{
    transform: translateY(100%);
    background-color: #555;
    height: 20vh;
    align-content: center;


}
.features2 h1{
    color: white;
    padding-top: 30px;
    transform: translateX(35%);
}
.features2 h2{
    transform: translateY(-10%);
    transform: translateX(45%);
}
.line1{
    font-size: 50px;
}
.line2{
    font-size: 30px;
}

/* /////resposive/////// */
@media(max-width:415px)
{
    .logo{
        font-size: 40px;
        transform: translateY(-70%);
        align-self: center;
    }
    .container { 
        display: none;
    }
    .container .content{
        color: white;
    }
    nav{
        width: 100vw;
        transform: translateY(-10%);
    }
    .links ul {
        transform: translateY(120%);
    }
    .features h1{
        transform: translate(20%,-90%);
        font-size: 40px;
        
  }
  .features h2{
      font-size: 22px;
      transform: translate(10%,-170%);
      
  }
  .features h3{
      font-size: 30px;
      transform: translate(10%,-89%);
      
  }
  .features span{
      color: black;
  }
  .section-1,.section-2{
    display: grid;
    grid-template-rows: 50% 50%;
     /* border: 2px solid green;  */
    transform: translateY(28.5%);
    height: 70vh;
    
}
.image-1 img{
    /* border: 2px solid red; */
    
    height: 10em;
}
.content-1,.content-2{
    width: 100vw;
    height: 60vh;
    text-align: center;
    background-color: #222;
    color: white;
    position: absolute;
}
.content-1 h1,h2,.btn{
    transform: translateY(100px);
    
}
.content-1 h2{
    font-weight: 300;
}
.content-2 h2{
    font-weight: 300;
}
.content-2 h1,h2,.btn{
    transform: translateY(100px);

}
.image-1{
    position: relative;
    top: 170%;
    left: -60%;
    /* border-top: 1px solid rgb(141, 141, 141);
    border-bottom: 1px solid rgb(141, 141, 141); */
}
.image-2{
    width: 90vw;
    position: relative;
    top: 170%;
    left: -80%;
    /* border-top: 1px solid rgb(141, 141, 141);
    border-bottom: 1px solid rgb(141, 141, 141); */
}
.section-2{
    transform: translateY(320%);
    
}
.section-3 {
     transform: translateY(-50%);
}   
.section-3 .image-1{
    position: relative;
    left: -100px;
}
.image-2{
    background-color: rgb(248, 248, 248);
}
.image-1 img{
    /* border: 2px solid red; */
    transform: translateX(45%);
    transform: translateY();
    height: 25em;
}
.image-2 img{
    transform: translateX(30%);
}
 .btn {
    display: inline-block;
    background-color:white;
    color: #000;
    border-radius: 13px;
    font-size: 30px;
    padding: 2px 12px;
    
}
.btn a{
    text-decoration: none;
    color: #000;
}
.btn:hover{
    background-color:cyan;
    font-size: 35px;
    color: white;
}
.content-1 h2{
    font-size: 20px;
}
.content-1 h1{
    font-size: 40px;
}
.content-2 h2{
    font-size: 20px;
}
.content-2 h1{
    font-size: 40px;
}
.txt h1 span{
    color: black;
}
.section-3{
    background-color: #555;
    width: 20vh;
    
}
.sites a{
   font-size: 20px;
   color: lightgray;
}
.features2 h1{
    font-size: 20px;
}
.features2 h2{
    font-size:15px ;
}
.features2 h1{
    transform: translateX(20%);
}
.features2 h2{
    transform: translateX(40%);
}
.features2{
    transform: translateY(1100%);
}
.form{
    align-items: center;
    margin: 40px 30px;
    background-color: #000;
    color: white;
    padding: 30px;
}
.final{
    margin: 0 200px;
    transform: translateY(-15%);
}
.ship{
    align-items: center;
}
.card{
    align-items: center;
}
.btn2{
    display: inline-block;
    background-color:cyan;
    border-radius: 5px;
    padding: 2px 3px;
    margin-top: 20px;
    margin-left: 8px;
    font-size: 20px;
    

}
.btn2 a{
    text-decoration: none;
    color:#555;
}
.btn2 a:hover{
    background-color: white;
    color: black;
    font-size:22px ;
}
label{
    padding: 8px;
    margin: 5px;
    font-size: 10px;
}
.ship{
    display: grid;
    grid-template-rows: auto;
}
.card{
    display: grid;
    grid-template-rows: auto;
}
    input{
    padding: 3spx;
    margin: 3px;
    border-radius: 4px;
}
}
